<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <timestamp key="timestamp" datePattern="yyyy-MM-dd-HH:mm" />
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>
            ${HOME}/logs/tatooinelogs-${timestamp}.log
        </file>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss.SSS} %level - %message%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE" />
    </root>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
</configuration>
