<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <timestamp key="timestamp" datePattern="yyyy-MM-dd-HH:mm" />

    <!-- Appender for logs info and up  -->
    <appender name="FILE_INFO_UP" class="ch.qos.logback.core.FileAppender">
        <file>
            ${HOME}/logs/tatooinelogs-${timestamp}.log
        </file>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} %-5level - %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Appender for logs with trace level  -->
    <appender name="FILE_ALL" class="ch.qos.logback.core.FileAppender">
        <file>
            ${HOME}/logs/trace-logs-${timestamp}.log
        </file>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss} %-5level - %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- This named logger is what you reference in your code. -->
    <!-- val logger = LoggerFactory.getLogger("FAUCET_LOGS") -->
    <!-- It lets through anything at TRACE level and above, in other words everything. -->
    <!-- From there, the FILE_INFO_UP and FILE_ALL appenders filter what they need. -->
    <logger name="FAUCET_LOGS" level="TRACE" additivity="true">
        <appender-ref ref="FILE_INFO_UP"/>
        <appender-ref ref="FILE_ALL"/>
    </logger>
    <logger name="io.netty" level="INFO"/>
</configuration>
