<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <timestamp key="timestamp" datePattern="yyyy-MM-dd-HH:mm" />

    <!-- Appender for logs without stacktrace  -->
    <appender name="FILE_NO_TRACE" class="ch.qos.logback.core.FileAppender">
        <file>
            ${HOME}/logs/tatooinelogs-${timestamp}.log
        </file>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss.SSS} %level - %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Appender for logs with stacktrace  -->
    <appender name="FILE_WITH_TRACE" class="ch.qos.logback.core.FileAppender">
        <file>
            ${HOME}/logs/trace-logs-${timestamp}.log
        </file>
        <encoder>
            <pattern>%date{YYYY-MM-dd HH:mm:ss.SSS} %level - %message%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="FAUCET_LOGS" level="DEBUG" additivity="true">
        <appender-ref ref="FILE_NO_TRACE"/>
        <appender-ref ref="FILE_WITH_TRACE"/>
    </logger>
     <logger name="io.netty" level="INFO"/>
</configuration>
